/* ==================== */
/* Colors and Spacing System */
/* ==================== */

:root {
  /* Primary Colors */
  --red: #ea5454;
  --aquamarine: #44d3d2;
  --yellow: #fcae4a;
  --blue: #549ef2;
  /* Neutral Colors */
  --blue-dark: #4d4f62;
  --gray-blue: hsl(229, 6%, 66%);
  --gray-light: #fafafa;

  /* Shade */
  --white: #fff;
}

/* =================== */
/* Typography Styles */
/* =================== */

.text-headline-light {
  color: var(--blue-dark);
  font-family: "Poppins";
  font-weight: 200;
  font-size: 3.6rem;
  line-height: 175%;
  letter-spacing: 0.025rem;
  text-align: center;
}

.text-headline-bold {
  color: var(--blue-dark);
  font-family: "Poppins";
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 100%;
  letter-spacing: 0.025rem;
  text-align: center;
}

.text-subheading {
  color: var(--gray-blue);
  font-family: "Poppins";
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.01rem;
  text-align: center;
}

.text-card-title {
  color: var(--blue-dark);
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0rem;
}

.text-card-body {
  color: var(--gray-blue);
  font-family: "Poppins";
  font-weight: 200;
  font-size: 1.3rem;
  line-height: 2.3rem;
  letter-spacing: 0.009rem;
}

/* =================== */
/* Settings */
/* =================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: var(--gray-light);
}

/* =================== */
/* Reusable components */
/* =================== */

.border-aquamarine {
  border-top: 0.4rem solid var(--aquamarine);
}
.border-red {
  border-top: 0.4rem solid var(--red);
}
.border-yellow {
  border-top: 0.4rem solid var(--yellow);
}
.border-blue {
  border-top: 0.4rem solid var(--blue);
}

/* =================== */
/* Styles */
/* =================== */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem 0px;
  gap: 6.4rem;
}

.hero {
  width: 54rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.heading {
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 3rem;
}

.gallery__column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.gallery__card {
  width: 35rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 3.2rem;
  border-radius: 0.8rem;
  background-color: var(--white);
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}

.gallery__card__svg {
  align-self: flex-end;
  margin-top: auto;
}

/* =================== */
/* Responsiveness */
/* =================== */

@media (max-width: 1140px) {
  /* Typography Changes */
  .text-headline-light {
    font-size: 2.4rem;
    letter-spacing: 0.017rem;
  }

  .text-headline-bold {
    font-size: 2.4rem;
    letter-spacing: 0.017rem;
  }

  main {
    padding: 8rem 3.2rem;
  }

  /* Hero sizing */
  .hero {
    max-width: 30rem;
  }

  /* Grid Changes */
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .gallery__column {
    gap: 2.4rem;
  }

  /* Card Sizing */
  .gallery__card {
    max-width: 30rem;
    max-height: 21.2rem;
    padding: 2.8rem;
  }

  .gallery__card__svg img {
    width: 57px;
    height: 57px;
  }
}
